/* import fonts from fonts.css */
@import url(./fonts.css);

html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* start nav bar */
a.navbar-brand {
  padding: 0 2rem 0 5rem;
}

nav.navbar {
  padding: 1rem 15rem;
}

a.nav-link {
  text-transform: uppercase;
  padding: 1.7rem;
  font-weight: 500;
  color: black;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end nav bar */

/* start banner */

.site-main .site-banner .row h1 > span {
  display: block;
  /* font: normal bold 49px/ 60px var(--roboto); */
  text-align: center;
  padding: 0 24rem;
  font-size: 60px;
}

section#home {
  background: url(../img/meat_vocano.jpg) no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

/* end banner */

#methane-vis {
  padding-bottom: 10px;
}

#compare-chart {
  padding-top: 100px;
  font-size: 12pt;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

#compare-area {
  background: rgba(255, 255, 255, 0.5);
  max-height: 400px;
  transform: translate(0, 60px);
}

h6.chart-title {
  font-size: 20pt;
}

.example_f {
  border-radius: 4px !important;
  background: linear-gradient(to right, #ddf2d8, #43a5cb) !important;
  border: none !important;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}
.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.example_f span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.example_f:hover span {
  padding-right: 25px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}

#reset-button {
  padding-top: 100px;
}
