/* import fonts from fonts.css */
@import url(./fonts.css);

/* global */
html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

div.row.desc {
  padding-top: 5%;
  justify-content: center;
  display: inline-block;
}

div.row.desc > h3 {
  text-align: center;
}

div.row.desc > p {
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  div.row.desc > p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }
  g.tick > text {
    font-size: 4pt;
  }
}

/* start nav bar */
a.navbar-brand {
  padding: 0rem;
}

/* nav.navbar {
  padding: 0rem 19rem;
} */

a.nav-link {
  text-transform: uppercase;
  padding: 0rem;
  font-weight: 500;
  color: black;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  /* background: var(--gradient-color); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: gray;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  /* background: var(--gradient-color); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: gray;
  background-clip: text;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  /* left: 0;
  right: 0; */
  background: white;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}

/* end nav bar */

/* start banner */
/* h1.title {
  background-color: rgba(0, 0, 0, 0.137);
  border-radius: 10px;
} */

.site-main .site-banner .row h1 > span {
  display: block;
  text-align: center;
  /* padding: 0 20rem; */
  font-size: 60px;
  /* transform: translateX(-20px); */
}

section#home {
  background: url(../img/meat_vocano.jpg) no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
}

/* end banner */

/* start monopleth area */
path.mark-countries {
  stroke: #ffffff;
  stroke-width: 0.5;
}

div.tooltip.wm {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 30px;
  /* padding: 2px; */
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}

/* end monopleth area */
div#world-map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#world-vis {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#world-vis > svg {
  align-self: center;
}

g.parameter-value > text {
  fill: white;
}

/* start tree area */
div#tree-vis {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#tree-vis > svg {
  align-self: center;
}

div#reset-button {
  padding-left: 40%;
  padding-right: 40%;
}
div#compare-chart {
  padding-left: 35%;
  padding-right: 35%;
}

div.tooltip.tv {
  /* display: block; */
  position: absolute;
  text-align: center;
  width: 200px;
  height: 65px;
  /* padding: 2px; */
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}
p.title {
  display: block;
}

/* end tree area */

/* start plate area */
section#part3 {
  background: url(../img/plate.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1200px;
}

div#dropdown-menu {
  /* display: inline; */
  transform: translateY(18%);
}

div#info-table {
  border-radius: 5px;
  transform: translateY(18%);
}

div#tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#tooltip > svg {
  align-self: center;
}

/* div#chart-area1 {
  display: block;
} */

div#chart-area1 {
  transform: translateY(18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#chart-area1 > svg {
  align-self: center;
}

/* div#reset-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
div#reset-button-container {
  padding-top: 20%;
  padding-left: 40%;
  padding-right: 40%;
  align-self: center;
  /* max-width: 50%; */
}
/* end plate area */

/* start more-facts */

/* section#part4 {
  min-height: 1000px;
} */
div#img-container {
  justify-content: center;
  padding-left: 35%;
  padding-right: 35%;
}
/* end more-facts */

/* start footer */

section#video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

section#video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-style: italic;
}
p.copy-right {
  vertical-align: bottom;
  text-align: center;
}
