/* import fonts from fonts.css */
@import url(./fonts.css);

html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

div.row.desc {
  padding-top: 5%;
  justify-content: center;
  display: inline-block;
}

div.row.desc > h3 {
  text-align: center;
}

div.row.desc > p {
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
}

/* section {
  height: 1000px;
} */

/* start nav bar */
a.navbar-brand {
  padding: 1em;
}

nav.navbar {
  padding: 1rem 19rem;
}

a.nav-link {
  text-transform: uppercase;
  padding: 1.7rem;
  font-weight: 500;
  color: black;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end nav bar */

/* start banner */
/* h1.title {
  background-color: rgba(0, 0, 0, 0.137);
  border-radius: 10px;
} */

.site-main .site-banner .row h1 > span {
  display: block;
  text-align: center;
  padding: 0 20rem;
  font-size: 60px;
  transform: translateX(-20px);
}

section#home {
  background: url(../img/meat_vocano.jpg) no-repeat center 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
}

/* end banner */

/* start monopleth area */
path.mark-countries {
  stroke: #ffffff;
  stroke-width: 0.5;
}

div.tooltip.wm {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 30px;
  /* padding: 2px; */
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}

/* end monopleth area */
#world-vis {
  padding-left: 25%;
  padding-right: 25%;
  background-color: black;
  max-height: fit-content;
}

g.parameter-value > text {
  fill: white;
}

/* start tree area */
#tree-vis {
  padding-left: 25%;
  padding-right: 25%;
  /* background-color: black; */
  max-height: fit-content;
}

div#reset-button {
  padding-left: 45%;
  padding-right: 45%;
}
div#compare-chart {
  padding-left: 35%;
  padding-right: 35%;
}

div.tooltip.tv {
  /* display: block; */
  position: absolute;
  text-align: center;
  width: 200px;
  height: 60px;
  /* padding: 2px; */
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}
p.title {
  display: block;
}

/* end tree area */

/* start plate area */
section#part3 {
  background: url(../img/plate.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}

div#dropdown-menu {
  transform: translateY(9%);
}

div#donut-chart {
  transform: translateX(8%) translateY(9%);
}

div#info-table {
  transform: translateY(9%);
}

/* end plate area */

/* #methane-vis {
  padding-bottom: 10px;
}

#compare-chart {
  padding-top: 100px;
  font-size: 12pt;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

#compare-area {
  background: rgba(255, 255, 255, 0.5);
  max-height: 400px;
  transform: translate(0, 60px);
}

#reset-button {
  padding-top: 100px;
} */
